@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700");
body {
  background-image: url("../images/bg-219.png");
}
.app {
  width: 620px;
  height: 600px;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.app:before {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left: 259px;
  background-image: url("../images/index.png");
  width: 102px;
  height: 24px;
  background-position: -5px -31px;
}
.app_header {
  width: 570px;
  height: 45px;
  background-color: #ff8663;
  margin: 0;
  border-radius: 10px 10px 0 0;
  line-height: 48px;
  padding-left: 50px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  position: relative;
}
.app_col {
  width: 309px;
  margin: 0;
  padding-top: 20px;
  background-color: #f0f0f0;
}
.app_col._left {
  float: left;
}
.app_col._right {
  float: right;
}
.app_input {
  width: 270px;
  height: 26px;
  padding-left: 15px;
  border: 0px solid #00f;
  border-radius: 13px;
  display: block;
  margin: 0 auto;
  margin-bottom: 11px;
  color: #00f;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #acacac;
}
.app_input:focus {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.friends {
  width: 309px;
  height: 451px;
  margin: 0 auto;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
.app_footer {
  width: 620px;
  height: 45px;
  background-color: #f0f0f0;
  margin: 0;
  border-radius: 0 0 10px 10px;
  clear: both;
  display: table;
  text-align: right;
}
.app_save {
  margin: 8px 30px 0 0;
  width: 87px;
  height: 30px;
  background-color: #ff8663;
  border-radius: 10px;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  outline: none !important;
}
.app_save:hover {
  background-color: #e85e37;
}
.friends_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.friends_item {
  width: 297px;
  height: 60px;
  padding: 6px;
  padding-bottom: 2px;
  margin: 0;
}
.friends_item:after {
  content: '';
  clear: both;
  display: table;
}
.friends_item:hover {
  background-color: #f0f0f0;
}
.friend_foto {
  display: block;
  float: left;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin-right: 10px;
}
.friend_name {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #4f4f4f;
  line-height: 18px;
  position: relative;
}
.cross {
  background-image: url("../images/index.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 2px;
  right: 19px;
  width: 16px;
  height: 16px;
}
#left_col .cross {
  background-position: -5px -5px;
}
#left_col .cross:hover {
  cursor: pointer;
  background-position: -31px -5px;
}
#right_col .cross {
  background-position: -81px -5px;
}
#right_col .cross:hover {
  cursor: pointer;
  background-position: -117px -37px;
}
